.header {
  color: #222529;

  &__top,
  &__middle,
  &__bottom {
    background-color: #fff;
  }

  &__top {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &__menu {
      color: #666;
      font-size: 0.8rem;
      font-weight: 400;
      border: none;
      line-height: 1.5rem;
    }
  }

  &__middle {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }

  &__bottom {
    padding-top: 0.2rem;
    padding-bottom: 0.8rem;
  }

  &__search {
    margin-bottom: 0 !important;
  }

  &__account {
    cursor: pointer;

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      font-size: 2rem;
      border-radius: 50%;
      border: 2px solid #222529;
    }

    &__info {
      gap: 2px !important;

      &__title {
        color: #282d3b;
      }

      &__subtitle {
        font-weight: 400;
        font-size: 0.8rem;
        line-height: 0.8rem;
        letter-spacing: -0.025em;
        color: #515151;
      }
    }

    &:hover &__info {
      &__subtitle {
        text-decoration: underline;
      }
    }
  }
}

// categories-submenu
.categories-submenu {
  ul {
    li {
      border-block-end: none !important;
      padding: 0.4rem 0 !important;

      a {
        color: #515151;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.affix {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06) !important;
}
