@import 'variables';

.product-default {
  .name {
    letter-spacing: 0.005em;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;

    span {
      font-size: 0.9rem;
    }

    &:hover span {
      color: $primary-color;
    }
  }

  .price {
    display: block;
    font-weight: bold;
    font-size: 1.1rem;
    order: 2;

    &.is-discount {
      color: #777;
      font-size: 1rem;
      text-decoration: line-through;
      order: 1;
    }
  }

  .rate {
    font-size: 0.9rem;
  }

  .categories {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .category {
    color: $secondary-color-light;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 400;

    &:hover {
      color: $primary-color;
    }
  }

  .wish {
    color: $secondary-color-light;
    font-size: 1rem;

    &:hover {
      color: $primary-color-dark;
    }
  }

  .cover {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      display: block;
    }

    .quick-view {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      text-transform: uppercase;
      transform: translate(0, 100%);
      z-index: 9;
    }

    .add {
      position: absolute;
      top: 1rem;
      right: 1rem;
      opacity: 0;

      &:hover {
        color: #fff;
        background-color: $primary-color;
      }
    }

    .discount {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      color: #fff;
      background-color: #da5555;
      border-radius: 12px;
      font-weight: bold;
    }

    .offer2 {
      position: absolute;
      bottom: 0.5rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 0.7rem;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: 0;
      margin-right: 0 !important;

      span {
        font-size: 0.6rem;
        font-weight: normal;
      }
    }
  }

  &:hover {
    .cover {
      .quick-view {
        transform: translate(0, 0);
      }

      .add {
        opacity: 1;
      }
    }
  }
}

.product-offer {
  .name {
    span {
      font-size: 1.2rem;
    }
  }

  .add {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1.5rem 2rem;
    margin-top: 1rem;

    span[role='img'] {
      font-size: 1.5rem;
    }
  }

  .cover {
    .offer {
      bottom: auto;
      top: 1rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 0.8rem;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 2rem;
      margin: 0;

      span {
        font-size: 0.6rem;
        font-weight: normal;
      }
    }
  }
}

.product-detail {
  &-title {
    margin: 0 !important;
    text-transform: capitalize;
    font-weight: 100;
  }

  .price {
    margin: 0;
    font-weight: bold;
    font-size: 1.7rem;

    &.is-discount {
      color: #777;
      font-size: 1.5rem;
      text-decoration: line-through;
    }
  }

  &-categories {
    font-size: 0.8rem;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: calc(100% - 20px);

    a {
      color: #777;
    }

    a::after {
      content: ', ';
    }

    a:last-child::after {
      content: none;
    }
  }
}

.variants {
  display: flex;
  margin-top: 1rem;

  &-key {
    margin: 0;
    text-transform: uppercase;
  }

  &-values {
    text-transform: uppercase;
  }
}

.product-carousel {
  img {
    display: block;
    border: 1px solid lighten($light-text, 50);
  }
}
